*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2eae4;
}

main{
    height: 100vh;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.details{
    padding-left: 30px;
    width: 300px;
    height: 433px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.details h3{
    padding-top: 30px;
    font-size: 18px;
    color: rgb(158, 149, 149);
}

.details p{
    color: #302e3ab4;
}

.gallerry img{
    width: 320%px;
    height: 430px;
    max-width: 100%;
}

.cart{
    display: flex;
    gap: 20px;
    align-items: center;
}
.cart p{
    color: #3B7962;
    font-size: 30px;
}
.cart strike{
    font-size: 15px;
    color: rgb(158, 149, 149);

}

button{
    color: white;
    background-color: #3B7962;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    padding: 15px 60px;
}